.universal_button button{

    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: var(--button-color);
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    max-width: 100%;

}

.universal_button button:hover{
    box-shadow: 10px 0 30px 10px #0b2652;
}
