.dashboard-contents{
    margin-left: 150px;
    /* background-color: white; */
    height: 100%;
    margin-top: 20px;

}




/* Test Page Stylings */

.search-container{

    width: 100%;
    padding: 15px;
}

.search-input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #001929;
    border-radius: 20px;
}

.search-input input{
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 90%;
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.filter-icon{
    width: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-icon img{
    width: 50px;
    max-width: 100%;
}

.search-icon{
    width: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon span{
    font-size: 25px;
    color: lightslategray;
}

